<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.musicplayer"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="17" />

    <application
        android:name="linhai.example.com.constant.MyApplication"
        android:theme="@android:style/Theme.NoTitleBar">

        <!-- Music Manager Activity -->
        <activity
         	android:name="linhai.example.com.music.MusicManagerActivity">
       	</activity>

        <!-- Main Activity -->
        <activity
            android:name="linhai.example.com.music.MainActivity"
            android:theme="@style/touming">
        </activity>

        <!-- Animation Activity -->
        <activity
            android:name="linhai.example.com.music.AnimationActivity">
        </activity>

        <!-- Guide Activity -->
        <activity
            android:name="linhai.example.com.guide.GuideActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MyTabActivity -->
        <activity
            android:name="linhai.example.com.pagerview.MyTabActivity">
        </activity>

        <!-- Playing Activity -->
        <activity
            android:name="linhai.example.com.music.PlayingActivity">
        </activity>

        <!-- Music Collect Activity -->
        <activity
            android:name="linhai.example.com.music.MusicCollectActivity"
            android:theme="@style/touming">
        </activity>

        <!-- Music History Activity -->
        <activity
            android:name="linhai.example.com.music.MusicHistoryActivity"
            android:theme="@style/touming">
        </activity>

        <!-- Music Search Activity -->
        <activity
            android:name="linhai.example.com.music.MusicSearchActivity"
            android:theme="@style/touming">
        </activity>

        <!-- Music Setting Activity -->
        <activity
            android:name="linhai.example.com.music.MusicSettingActivity"
            android:theme="@style/touming">

            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>

        <!-- Play Music Service-->
        <service android:name="linhai.example.com.service.PlayMusicService">
           	<intent-filter>
			    <action android:name="com.example.service.PlayMusicService"/>
			</intent-filter>  
        </service>
    
        <!-- Receiver -->
        <receiver android:name = "linhai.example.com.music.MainActivity$MainActivityReceiver">
        	<intent-filter>
        	    <action android:name="com.example.PLAY_NEXT"/>
        	</intent-filter>
        </receiver>
        
        <receiver android:name="linhai.example.com.music.PlayingActivity$PlayingActivityReceiver">
        </receiver>
    </application>

    <!-- 获取读取电话通知的权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
</manifest>
